page-landing {

    .landing {
      //background-color: color($colors,gulfhr);
      background-image: url('../assets/landing.jpg');
    }
    .invisibleButton {
        height:10px;
        width:20%;
    }
     .card {
       background-color:transparent;
     }
    .card  h4 {
      color:white;
      font-weight: bold;    
    }
    .card p {
      color:white; 
      font-size:12px;   
    }
     h6{
        color:white;    
      }
      
      .custom-avatar {
        border: 2px solid #fff;
        height: 20vw;
        width: 20vw;
        border-radius: 50%;
        display: inline-block;
        margin-left: auto;
        margin-right: auto;
      }
      #notification-button {            
        position: relative;
        width: 60px;
        top:1px;
        right: 1px;
        overflow: visible!important;
      }
      #notifications-badge {
        position: absolute;
        top: -10px;
        right: -1px;
        border-radius: 100%;
      }
}
