page-refund {
    .error-box {
		color: red;
	}
	
	.error-border {
		color: red;
	}
	.submit-btn {
		background:color($colors,secondary);
		border-radius: 30px !important;
		border: 1px solid #ffffff;
	  }
}
